/* bag Color section */
.green {
  background-color: #086374;
}
.purple {
  background-color: #6e49ab;
}
.brown {
  background-color: #a66039;
}
.lightblue {
  background-color: #70849c;
}
.black {
  background-color: black;
}
.cream {
  background-color: #d0ab81;
}
.blue {
  background-color: #2f6dd8;
}
.red {
  background-color: #f34f4a;
}

/*-------------------*/


/*----------*/
.product-details {
    height: inherit;
    position: relative;
  }
  
  .product-details::after {
    content: "";
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: -15rem;
    border-bottom: 45rem solid #fff;
    border-left: 15rem solid transparent;
  }
  
  .product-details .details {
    width: 28rem;
    height: 20rem;
    position: absolute;
    top: 6rem;
    left: 3rem;
  }
  
  .product-details .details .product-name h3 {
    font-weight: 800;
    font-size: 1.7rem;
    line-height: 160%;
    letter-spacing: -0.03em;
    color: #000000;
    margin-top: 0.3rem;
  }
  
  .product-details .details .product-code h3 {
    font-weight: 400;
    font-size: 21px;
    line-height: 160.9%;
    color: #000000;
    margin-top: 0.5rem;
  }
  
  .product-details .details .price h1 {
    font-weight: 900;
    font-size: 43px;
    line-height: 160.9%;
    letter-spacing: -0.04em;
    color: #3da7ba;
    margin-top: 0.5rem;
  }
  
  .product-details .details .variants {
    width: auto;
    height: auto;
  }
  
  .product-details .details .variants h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 160.9%;
    color: #000000;
  }
  
  .product-details .details .variants .colors {
    width: 16rem;
    height: 1.5rem;
    display: flex;
    margin-top: 1rem;
  }
  
  .product-details .details .variants .colors .color {
    width: 1rem;
    height: 1rem;
    transition: all .2s ease;
    position: relative;
  }
  .product-details .details .variants .colors .color:not(.color-active) {
    cursor: pointer;
    overflow: hidden;
  }
  .product-details .details .variants .color:not(:first-child) {
    margin-left: 1rem;
  }
  
  .variants .colors .color.color-active {
    scale: 1.2;
  }
  
  .variants .colors .color::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all .1s ease;
  }
  .variants .colors .color.color-active::after {
    inset: -.2rem;
  }
  
  .product-details .details .quantity {
    width: 6rem;
    height: 5rem;
    margin-top: 1.5rem;
    position: relative;
  }
  
  .product-details .details .quantity h3 {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 160.9%;
    color: #000000;
  }
  
  /* select must shape */
  .product-details .details .quantity #quantity-select {
    width: 5rem;
  }
  
  .product-details .details .favorites {
    width: 11rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-details .details .favorites h5 {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 160.9%;
    color: #000000;
  }
  
  .product-details .details .favorites .fav-icon {
    margin-top: -.5rem;
    font-size: 1.2rem;
    transition: all .3s ease;
  }
  .product-details .details .favorites .fav-icon:hover {
    color: #3da7ba;
  }
  
  .product-details .details .actions {
    width: 17.75rem;
    height: 7rem;
    display: flex;
    align-items: center;
  }
  
  
  .product-details .details .actions .cart-btn {
    width: 17.75rem;
    height: 3.5rem;
    border: none;
    background: rgba(29, 34, 35, 1);
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: all .2s ease;
  }