@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600;700;800;900&display=swap");
@import "./styles/responsive.css";
@import "./styles/side-bar.css";
@import "./styles/product-image.css";
@import "./styles/app-menu.css";
@import "./styles/slide-selector.css";
@import "./styles/product-details.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-size: 0.8rem;
  font-family: "Martel Sans", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
}

.rounded {
  border-radius: 50%;
}

.c-pointer {
  cursor: pointer;
}

.x-scale:hover {
  scale: 1.1;
}

.container {
  width: 70rem;
  height: 45rem;
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}